<section class="checkout-banner">
    <div class="checkout-banner-box">
       <h2>home made dishes </h2>
       <h1>testy bite and healthy foods</h1>
        <h3>buy one regular &</h3>
        <h4>get one free</h4>
       <a href="" class="btn btn-danger btn-lg">view dishes</a>
    </div>
</section>