<section class="contact-banner">
    <div class="contact-banner-box">
        
        <h2> contact information</h2>
        <p>Get in touch with me here , anytime you wish</p>
        <a href="" class="btn btn-danger">view dishes</a>
    </div>
</section>