<section class="contact-banner">
    <div class="contact-banner-box">
        
        <h2>My contact information</h2>
        <p>Get in touch with me here , anytime you wish</p>
        <a href="" class="btn btn-danger btn-lg">view dishes</a>
    </div>
</section>