<div class="icon">
    <div class="container">
      <div class="icon-items">
        <div class="items1">
          <img src="/img/icon-1.svg" alt="" />
        </div>
        <div class="items1">
          <img src="/img/icon-2.svg" alt="" />
        </div>
        <div class="items1">
          <img src="/img/icon-3.svg" alt="" />
        </div>
        <div class="items1">
          <img src="/img/icon-4.svg" alt="" />
        </div>
      </div>
    </div>
  
</div>
