.cat-image{
	background-image: url('/img/overlay-1.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cat-title{
	
	margin: 0px auto;
    width: 55%;
}
.cat-title h1 {
	text-transform: capitalize;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 1px;
	font-family: 'Wendy One', sans-serif;
	  text-align: center;
	color: #fff;
	padding-top: 30px;
}

.cat-title p{
	text-align: center;
    opacity: .75;
    margin-top: 10px;
}
.underline-3{
    width: 20%;
    border-bottom: 3px solid #eac100;
    margin:  auto;
}

.container_foto {
	background-color: rgba(57, 62, 93, 0.7);
	padding: 0;
	overflow: hidden;
    width: 100%;
	box-shadow: 3px 7px 6px #000;
	background-color: #000;
	/* border: 5px solid #eac100; */
	
}
.box{
margin: 10px 0px;


}
.container_foto article {
	padding: 10%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.container_foto h2 {
	color:  #eac100;
	font-weight: 800;
	font-size: 30px;
	border-bottom: #eac100 solid 2px;
	text-shadow: 0 3px 0 rgba(0,0,0, 0.4);
}

.container_foto h4 {
	font-weight: 400;
	color:  #fff;
	font-size: 19px;
	font-weight: 500;
}
.container_foto{
	position: relative;
}



/* background-image: url('//cdn.shopify.com/s/files/1/0267/5979/0615/files/bg-3.jpg?v=1589446354'); */
.container_foto img {
	width: 100%;
	height:300px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0.4;
	background-color: #000;
	-webkit-transition: all 4s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	-ms-transition: all 2s ease;
	transition: all 2s ease;
	box-shadow: 3px 7px 10px #000;
}

.ver_mas {
	/* background-color: rgba(0,0,0, 0.4); */
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ver_mas span {
	font-size: 40px;
	color: #fff;
	position: relative;
	margin: 0 auto;
	width: 100%;
	top: -3px;

}
.lnr-eye a{
	border: 1px solid #eac100;
	padding: 10px 35px;
	border-radius: 25px;
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.lnr-eye a:hover{
	background-color: #eac100;
	color: #fff;
	transition: all ease-in-out .4s;
}
/*hovers*/

.container_foto:hover {
	cursor: pointer;
}

.container_foto:hover img {
	opacity: 0.2;
	transform: scale(1.1);
}

.container_foto:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}

.container_foto:hover .ver_mas {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}


@media(min-width:320px) and (max-width:480px){
	.cat-title h1{
		font-size: 23px;
	}
	.cat-title{
		width: 90%;
	}
	.cat-title p{
		color: #fff;

	}
	.underline-3{
		width: 35%;
	}
	.container_foto{
		height: 260px;
	}
	.container_foto h2{
		font-size: 24px;
		letter-spacing: 1px;
		text-transform: capitalize;

	}
	.container_foto h4{
		font-size: 17px;
		letter-spacing: 1px;
	}
}

@media(min-width:767px) and (max-width:1023px){
	.container_foto{
		height: 200px;
		width: 100%;
		margin-top: -30px;
	}
	.cat-title h1{
		font-size: 25px;
	}
	.container_foto h2{
		font-size: 20px;
		letter-spacing: 1px;
		text-transform: capitalize;

	}
	.container_foto h4{
		font-size: 17px;
		letter-spacing: 1px;
	}
}