.contact-banner{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),
     url('/img/h-2.jpg');
    height: 60vh;
    width: 100%;
    background-position:top -0% center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact-banner-box{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateY(-30%, -20%);
    width: 58%;
    
    
}
.contact-banner-box h3{
    text-transform: capitalize;
    color: #f44336;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 40px;
    opacity: 1;
    text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
}
.contact-banner-box h2{
  color: #d72323;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: 'Wendy One', sans-serif;
}

.contact-banner-box p{
  color: #eac100;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: 'Wendy One', sans-serif;
}


  @media(min-width:320px) and (max-width:767px){
     .contact-banner{
      height: 65vh;
      background-position: center;
    }
    
     .contact-banner-box{
      width: 90%;
      top: 38%;
      left: 4%;
    }
     .contact-banner-box h2{  
    
    font-size: 25px;
    }
    
   
  }



  /*galaxy fold*/
@media(min-width:280px) and (max-width:319px){
  .contact-banner{
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),
     url('/img/h-2.jpg');
    height: 60vh;
  }

.contact-banner-box{
    position: absolute;
    top: 38%;
    left: 4%;
    transform: translateY(-35%, -4%);
    width: 90%;
    
    
}

.contact-banner-box h2{
 
  font-weight: 600;
  font-size: 20px;
  
}

.contact-banner-box p{
  
  font-weight: 400;
  font-size: 20px;
  
}
.btn-danger{
  font-size: 15px !important;
   width: 150px !important;
   padding: 8px !important;
  font-weight: 400 !important;
  
 }
}