.icon{
    background: #f44336;
    height: 22vh;
    margin-top: 25px;
    position: relative;
}
.icon-items{
 display: flex !important;
 justify-content: space-around;
 align-items: center !important;
 position: absolute;
 top: 40%;
 left: 0;
 width: 100%;
}
@media screen and (max-width: 767px) {
  .items1 img{
    max-width: 60px;
} 
.icon{
    height: 16vh;
} 
}
