 .service-title h1{
  text-transform: capitalize;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: 'Wendy One', sans-serif;
  text-align: center;
} 
.service{
    background-color: #f7f7f7;
    padding: 55px;
}
.underline-1{
    border-bottom: 3px solid #eac100;
    margin: 10px auto;
    width: 15%;
}
.service-image img{
    width: 400px;
    height: auto;
}


.services-1-items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.service-icons{
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
  
}
  

.img{
 background-color: transparent;
  padding: 15px;  
  border: 2px solid #000;
  border-radius: 50%;   
}
.img:hover{
  background-color:  #eac100;
  transition: ease  all .5s;
  border: 2px solid #eac100;
  cursor: pointer;
}
.service-desc{
    width: 70%;
    margin: 10px auto;
    text-align: justify;
    word-break: keep-all;
}
.box-1 h4{
    text-transform: capitalize;
    color: #d72323;
}
.service-btn{
    margin: 40px auto;
}
.service-btn a{
    width: 200px; 
    border: 2px solid #eac100;
    padding: 10px 40px;
    color: #000;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #eac100;
    transition: ease  all .5s;
}
.service-btn a:hover,
.service-btn a:focus{
    transition: ease  all .5s;
    box-shadow: inset 0 0 0 2em #eac100;
    border-radius: 25px;
    border: 2px solid #eac100;
}

@media(min-width:320px) and (max-width:767px){
    .service-title{
        
        width: 100%;
    }
    .service-title h1{
        font-size: 21px;
        margin-top: 10px;
      } 
     
      .underline-1{
          
          width: 25%;
      }
    .img img{
        width: 30px;
    }
    .img{
    
      padding: 8px;  
         
    }
    .service-image img{
        width: 150px;
        height: auto;
        margin-top: -15px;
    }
    .service-icons{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px auto;
       
    }
    .service-image{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
   }
   .service-desc{
       width: 100%;
   }
}
/*galaxy fold*/
@media(min-width:280px) and (max-width:319px){
    .service-title{
         width: 100%;
        
    }
    .service-title h1{
        font-size: 18px !important;
        margin-top: 10px;
        text-align: center;
       
      } 
     
      .underline-1{
          
          width: 25%;
      }
    .img img{
        width: 30px;
    }
    .img{
    
      padding: 8px;  
         
    }
    .service-image img{
        width: 150px;
        height: auto;
        margin-top: -15px;
    }
    .service-icons{
        width: 100%;
        height: 120px;
       
        
       
    }
    .img{
        margin-left: 7px;
    }
    .service-image{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
   }
   .service-desc{
       width: 100%;
       margin-left: -28px;
   }
   .service-desc p{
       width: 200px;
       font-size: 15px;
       
   }
   .underline-1{
       width: 35%;
   }
   .service-btn a{
       width: 150px;
       padding: 8px 18px;
   }
}


@media(min-width:767px) and (max-width:1023px){
    .img img{
        width: 100%;
    }

    .service-image img{
        width: 100%;
        margin-top: 32px;
    }
    
       
    .service-icons{
        width: 87%;
       
    }
    .service-desc{
        width: 90%;
    }
    .service-title{
        width: 300px;
    }
    .service-title h1{
        font-size: 23px;
        margin-top: 10px;
      } 
     
      .underline-1{ 
          width: 45%;
      }
    .img img{
        width: 30px;
    }
    .img{
    
      padding: 8px;  
         
    }
}